body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
}

.main {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/DSCF9298.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin-top: 0%;
    z-index: -1;
}

.logo{
    font-family: sorts-mill-goudy,serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
    margin-left: auto;
}

.name{
    font-family: 'OFL Sorts Mill Goudy TT';
    font-size: 128px;
    line-height: 190px;
    letter-spacing: 0.435em;
    font-weight: 500;
    color: #fff;

}

.type{
    font-family: 'OFL Sorts Mill Goudy TT';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 3px;
    letter-spacing: 0.45em;
    color: #FFFFFF;
}

nav{
    display: flex;
    background: rgba(50, 50, 50, 0.8);
    backdrop-filter: blur(7.5px);
    border-bottom: red solid 2px;
    top: 0%;
    z-index: 1;
    width: 100%;
}

nav{
    position: sticky;
    margin-top: 0%;
}

.nav-menu {
    margin-left: auto;
}

.phone-fav-icon{
    font-family: Segoe UI symbol;
}

ul{
    display: flex;
    margin-left: auto;
    gap: 36px;
}

nav ul li{
    list-style-type: none;
    
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: auto;
    
}

.link-hover-center a {
    display: inline-block;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: 400px;
}
.link-hover-center a:after {
    display: block;
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.link-hover-center a:hover:after,
.link-hover-center a:focus:after {
    width: 100%;
}


.button {
    background: #00E34D;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    padding: 10px 24px;
    margin: auto;
    font-size: 20px;
}

.button:hover{
    background-color: #fff;
    color: #00E34D;
    transition: 0.2s ease-in-out;
}

.button img {
    position: relative;
    top: 5px; 
}

#banner{
    margin-left: 25%;
}

#banner h1 {
    margin-top: 50px;
    margin-bottom: 0;
}

#banner h3{
    margin: 0;
}

.carousel{
    display: flex;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 20px;
    gap: 30px;
}


.carousel a img{
    width: 280px;
    height: 405px;
    border-radius: 300px;
    object-fit: cover;
}


#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
}

.info {
    grid-column: 1/2;
    margin-top: 14%;
}

.info h3 {
    font-size: 48px; 
    color: #000;
    font-weight: 700;
    padding-left: 145px;
    margin-bottom: 15px;
}

.info p {
    color: #000;
    margin-left: 150px;
    font-weight: 400;
    line-height: 174%;
    font-size: 25px;
}

.four-photos {
    margin-top: 40px;
    width: 650px;
    height: 650px;
    grid-column: 2;
    background-color: red;
    border-radius: 50%;
}

.inner-margin {
    margin-left: 40px;
    margin-top: 45px;
}

.four-photos img{
    width: 270px;
    height: 270px;
    border-radius: 30px;
    filter: drop-shadow(0px 10px 30px rgba(50, 50, 50, 0.3));
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#reviews {
    margin-top: 20px;
}

.title-section {
    font-size: 48px; 
    color: #000;
    font-weight: 400;
    margin-left: 150px;
}


.contacts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
}

.phone-number {
    margin-left: 150px;
    margin-top: 50px;
}

.phone-number p a {
    color: #000;
    text-decoration: none;
}

.bg-margin {
    margin-top: 20px;
    margin-left: 20px;
}

footer {
    border-top: red solid 3px;
    margin-top: 10px;
}


.map {
    background-image: url(./img/mirmuxsin.png);
    background-repeat: no-repeat;
    width:700px;
    height: 400px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    text-align: center;
}

.footer-logo {
    font-family: sorts-mill-goudy,serif;
    font-weight: 500;
    color: #323232;
    text-decoration: none;
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

.company-logo {
    margin-top: 15px;
    text-align: center;
}

.number-footer {
    margin-top: 15px;
    text-align: center;
}

.number-footer a {
    text-decoration: none;
    color: #000;
}

/* menu page styles */

.menu-nav {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-bottom: red solid 2px;
    top: 0%;
    z-index: 1;
    width: 100%;
}

.menu-nav {
    position: absolute;
    margin-top: 0%;
}

.menu-nav-link li a{
    text-decoration: none;
    color: #323232;
    margin: auto;
}

.menu-link-hover-center a {
    display: inline-block;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: 400px;
}
.menu-link-hover-center a:after {
    display: block;
    content: "";
    background-color: #323232;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.menu-link-hover-center a:hover:after,
.menu-link-hover-center a:focus:after {
    width: 100%;
}

.menu-logo {
    font-family: sorts-mill-goudy,serif;
    font-weight: 500;
    color: #323232;
    text-decoration: none;
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
    margin-left: auto;
}

.menu-page {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    background: linear-gradient(151.62deg, #F1F1F1 0%, rgba(255, 255, 255, 0) 97.04%), #FFFFFF;
}

.block-left {
    position: absolute;
    width: 300px;
    height: 510px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    grid-column: 1/5;
    margin-top: 75px;
    margin-left: 160px;
}

.inner-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.inner-block h3 {
    grid-row: 1/2;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 23px;
}

.inner-block a img {
    width: 81px;
    height: 81px;
    margin-right: 25px;
    margin-top: 25px;
    margin-left: 70px;
}

.listing {
    margin-left: 50px;
}

.listing .types {
    display: block;
}

.types {
    padding: 0;
}

.types li {
    list-style-type: none;
    text-align: left;
    padding-top: 30px;
}

.types li a {
    display: inline-block;
    color: #323232;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-weight: 400px;
    list-style: none;
    font-size: 20px;
    line-height: 24px;
}
.types li a:after {
    display: block;
    content: "";
    background-color: #323232;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.types li a:hover:after,
.types li a:focus:after {
    width: 100%;
}

.menu-list {
    grid-column-start: 2;
    grid-column-end: 6;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 50px;
}

.flashcard {
    margin-left: 30px;
}

.flashcard img {
    width: 300px;
    height: 254px;
    object-fit: cover;
    border-radius: 10px;
}


.flashcard{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

.info-meal {
    height: 153px;
}

.info-meal span{
    font-weight: 500;
    font-size: 25px;
    align-items: center;
    margin-top: 30px;
    margin-left: 26px;
}

.info-meal .special-font {
    font-family: OFL Sorts Mill Goudy TT;
}


.info-meal input {
    width: 165px;
    height: 44px;
    background-color: #FF9A2D;
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 30px;
}

.inner-info {
    margin-top: 30px;
} 

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #323232;
}

/*media query*/

@media (max-width: 768px) {

    .top-nav {
        background:#F1F1F1;
        align-items: center;
    }
    
    .logo {
        font-size: 24px;
        margin-left: 35%;
        color: #323232;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */

    .nav-menu {
        width: 100%;
    }
    

    .nav-menu-inner {
        display: flex;
        position: fixed;
        top: 46px;
        gap: 0;
        flex-direction: column;
        background-color: #F1F1F1;
        width: 100%;
        transition: 0.3s;
        left: 100%;
        padding-left: 0%;
    }

    .mobile-container-nav .button {

    }

    .nav-menu:active {
        display: block;
        transition: 0.3s ease;
    }

    .nav-item {
        margin: 16px 40px;
    }

    .nav-item a {
        color: #323232;
    }

    .button-nav {
        display: block !important;
        background: #00E34D;
        border-radius: 30px;
        text-decoration: none;
        color: #fff;
        padding: 10px 20px;
        margin-left: 35px;
        margin-right: 255px;
        margin-bottom: 10px;
        font-size: 17px;
    }
   

    .button {
        display: none;
    }

    .hamburger {
        display: block;
        margin-left: 95px;
    }

    #sandwich {
        display: none;
    }

    .bar:nth-child(1){
        width: 24px;
        transition: 0.3s;
    }

    .bar:nth-child(2){
        width: 27.5px;
        margin-left: 1px;
        transition: 0.3s;
    }

    .bar:nth-child(3){
        width: 34px;
        margin-left: -4px;
    }

    #sandwich:checked+label > .bar:nth-child(1){
        margin-left: -4px;
    }

    #sandwich:checked+label > .bar:nth-child(2){
        margin-left: -4px;
    }

    #sandwich:checked+label > .bar:nth-child(3){
    }

    .back-photo {
        display: block !important;
    }

    .back-photo img {
        width: 100%;
        height: 360px;
        object-fit: cover;
    }
    

    
}    
